<!DOCTYPE html>
<html itemscope lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "head.html" . }}
    {{ with .OutputFormats.Get "RSS" }}
      <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ site.Title }}" />
      <link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ site.Title }}" />
    {{ end }}
  </head>

  <body lang="{{ .Site.Params.Lang }}" class="homepage is-preload">
    <div id="page-wrapper">
      {{ partial "header.html" . }}
      {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
      {{ end }}
    </div>
    {{ partial "footer-podcast.html" . }}
    {{ partial "scripts.html" . }}
  </body>

</html>