{{ define "main" }}
<section id="main">
  <div class="container">
    <div id="content">
      <!-- This renders whatever is in episode/_index.md -->
      {{ .Content }}
      {{ range $idx, $episode := .Pages }}
        {{ if not $idx }}
          <!-- The most recent episode is shown in full.  -->
          {{ partial "episode-full.html" . }}
        {{ else }}
          <!-- For all other episodes, we only show the title, summary, and tags. -->
          {{ partial "episode-summary.html" . }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
