<!DOCTYPE html>
<html itemscope lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "head.html" . }}
  </head>

  <body lang="{{ .Site.Params.Lang }}" class="homepage is-preload">
    <div id="page-wrapper">
      {{ partial "header.html" . }}
      {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
      {{ end }}
    </div>
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>

</html>