<header>
    <h2><a class='episode_title' href='{{ .Permalink }}#{{ substr (sha1 .RelPermalink) 0 8 }}'>{{ title .Title }}</a></h2>
</header>
<h3>{{ .Params.Subtitle }}</h3>
{{- if ne $.Params.upcoming true -}}
<strong>{{ dateFormat "Monday, 02. January 2006" .Date }}</strong>
{{ partial "episode-metadata.html" .}}
{{- else -}}
<strong>Geplant zum {{ dateFormat "Monday, Jan 2, 2006" .Date }}</strong>
{{ partial "episode-metadata.html" .}}
{{- end -}}
