<article class="box post">
	<section id="{{ substr (sha1 .RelPermalink) 0 8 }}" class="active">
		{{ partial "episode-header.html" . }}

		<!-- Description and show notes as provided by the episode. -->
		{{ .Content }}

		<!-- Embedded player. -->
		<script>
			window.playerConfiguration = {
				"options": {
					"theme": "default",
					"startPanel": "ChapterMarks"
				},
				"extensions": {
					"ChapterMarks": {},
					"EpisodeInfo": {},
					"Playlist": {}
				},
				"title": null,
				"episode": {
					"media": {
						"mp3": "/episodes/{{ .Params.audio.mp3 }}"
					},
					"coverUrl": "{{ .Params.episode_cover }}",
					"title": "{{ .Params.title }}",
					"subtitle": "{{ .Params.subtitle }}",
					"description": "{{ .Params.summary }}",
					"url": "{{ .RelPermalink }}",
					"chaptermarks": [
						{{ range .Params.chapters }}
							{"start": "{{ substr . 0 12 }}", "title": {{ substr . 13 }} },
						{{- end -}}
					]
				}
			}
		</script>
		<script type="application/javascript" class="podigee-podcast-player" data-configuration="playerConfiguration"
			src="/podigee-podcast-player/javascripts/podigee-podcast-player.js">
			</script>

		<!-- Episode download. -->
		{{ with .Param "audio" }}
		{{ range $index, $filename := . }}
		{{ $filename_arr := split $filename "." }}
		{{ $audio_ext := index $filename_arr 1 }}
		{{ $stat := os.Stat (printf "/%s/%s" "episodes" $filename) }}
		<a href="/episodes/{{ $filename }}" class="button">Download .{{ $audio_ext }} ({{ math.Round (div $stat.Size
			(mul
			1024.0 1024.0)) }}
			MB)</a>
		{{ end }}
		{{ end }}

		<!-- Pagination, i.e. 'previous' and 'next'. -->
		<nav>
			<ul class="actions">
				{{ if .PrevInSection }}
				<li class="page-item">
					<a href="{{.PrevInSection.Permalink}}" class="page-link">
						<span aria-hidden="true">&larr;</span>
						vorherige Folge</a>
				</li>
				{{ end }}
				{{ if .NextInSection }}
				<li class="page-item">
					<a href="{{.NextInSection.Permalink}}" class="page-link">nächste Folge
						<span aria-hidden="true">&rarr;</span>
					</a>
				</li>
				{{ end }}
			</ul>
		</nav>
	</section>
</article>
