<!-- Footer -->
<section id="footer">
<div class="container">
    <div class="row">
      <div class="col-3 col-12-medium">
        <section>
          <h3>Credits</h3>
          <ul class="icons">
            <li class="icon solid fa-music">
              Musik ab Folge 29:
              <a href="https://about.me/jahzzar">»T800« von Javier Suarez</a>
              <a href="http://www.betterwithmusic.com/">(Jahzzar aka Betterwithmusic)</a>
              <a href="https://vimeo.com/musicstore/track/80519/t800-by-jahzzar">via Vimeo Music Store</a>
            </li>
            <li class="icon solid fa-music">
              Musik in Folgen 1 bis 28:
              <a href="https://soundcloud.com/spaceslab-go/forest-21-08-2014-2150">The Construct Forest Dwellers Of Orduhr Dance</a>
            </li>
            <li class="icon solid fa-lock">
              Coverbild in einigen Episoden stammt von <a href="https://de.depositphotos.com/49566711/stock-photo-stacks-with-many-old-books.html">sorokopud @ depositphotos</a>.
            </li>
          </ul>
        </section>
      </div>

      <div class="col-3 col-12-medium">
        <section>
          <h3>Letzte Beiträge</h3>
          <dl>
            {{ range first 7 .Pages }}
              <dd>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
              </dd>
            {{ end }}
          </dl>
        </section>
      </div>

      <div class="col-3 col-12-medium">
        <section>
          <h3>Feeds</h3>
          <ul class="icons">
            <li class="icon solid fa-rss">
                <a href="{{ .Site.BaseURL }}/podcast/index.xml">RSS-Feed</a>
            </li>
          <ul>
          <ul class="actions">
            <li>
              <script class="podlove-subscribe-button"
              src="/subscribe-button/javascripts/app.js"
              data-language="{{ .Site.LanguageCode }}"
              data-size="medium auto"
              data-style="filled"
              data-json-data="podcastData"
              data-colors="#FC6E51;green;blue">
              </script>
              <script>
              window.podcastData = {
                "title": "{{ .Site.Title }}",
                "subtitle": "{{ .Site.Params.feed.itunes_subtitle }}",
                "description": "{{ .Site.Params.feed.itunes_summary }}",
                "cover": "{{ .Site.BaseURL }}/images/buechergefahr_logo_300x300.jpg",
                "feeds": [
                  {
                    "type": "audio",
                    "format": "mp3",
                    "url": "{{ .Site.BaseURL }}/podcast/index.xml",
                    "directory-url-itunes": "{{ .Site.Params.itunes_url }}",
                    "variant": "high"
                  }
                ]
              }
              </script>
            </li>
          <ul>
        </section>
      </div>

      <div class="col-3 col-12-medium">
        <section>
          <h3>Verzeichnisse</h3>
          <ul class="icons">
            {{ if .Site.Params.itunes_url }}
              <li class="icon solid fa-apple-alt"><a href="{{ .Site.Params.itunes_url }}">Apple Podcasts</a></li>
            {{ end }}
            {{ if .Site.Params.breaker_url }}
              <li class="icon solid fa-podcast"><a href="{{ .Site.Params.breaker_url }}">Breaker</a></li>
            {{ end }}
            {{ if .Site.Params.bitlove_url }}
              <li class="icon solid fa-podcast"><a href="{{ .Site.Params.bitlove_url }}">Bitlove Torrents</a></li>
            {{ end }}
            {{ if .Site.Params.deezer_url }}
              <li class="icon solid fa-podcast"><a href="{{ .Site.Params.deezer_url }}">Deezer</a></li>
            {{ end }}
            {{ if .Site.Params.fyyd_url }}
              <li class="icon solid fa-podcast"><a href="{{ .Site.Params.fyyd_url }}">Fyyd</a></li>
            {{ end }}
            {{ if .Site.Params.gpodder_url }}
              <li class="icon solid fa-podcast">at <a href="{{ .Site.Params.gpodder_url }}">Gpodder.net</a></li>
            {{ end }}
            {{ if .Site.Params.spotify_url }}
              <li class="icon solid fa-podcast"><a href="{{ .Site.Params.spotify_url }}">Spotify</a></li>
            {{ end }}
            {{ if .Site.Params.stitcher_url }}
              <li class="icon solid fa-podcast"><a href="{{ .Site.Params.stitcher_url }}">Stitcher</a></li>
            {{ end }}
          </ul>
        </section>
      </div>
    </div>
  </div>

  <div id="copyright" class="container">
    <ul class="links">
        <li>&copy;
          <script type="text/javascript">document.write(new Date().getFullYear());</script>
          Büchergefahr
        </li>
        <li><a href="/kontakt/">Kontakt</a></li>
        <li><a href="/impressum/">Impressum</a></li>
        <li><a href="/datenschutz/">Datenschutz</a></li>
      <!--
      more precesily: design follows Strongly Typed by HTML5 up (https://html5up.net/strongly-typed)
      -->
      <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>
</section>
