<!-- Footer -->
<section id="footer">
  <div id="copyright" class="container">
    <ul class="links">
        <li>&copy;
          <script type="text/javascript">document.write(new Date().getFullYear());</script>
          Büchergefahr
        </li>
        <li><a href="/kontakt/">Kontakt</a></li>
        <li><a href="/impressum/">Impressum</a></li>
        <li><a href="/datenschutz/">Datenschutz</a></li>
      <!--
      more precesily: design follows Strongly Typed by HTML5 up (https://html5up.net/strongly-typed)
      -->
      <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>
</section>
