  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  {{ if .Description}}
  <meta name="description" content="{{ .Description }}">
  {{ else }}
  {{ if .Site.Params.Description }}
  <meta name="description" content="{{ .Site.Params.Description }}">
  {{ end }}
  {{ end }}
  {{ hugo.Generator }}

  <meta property="og:title" content="{{ title .Title }}" />
  <meta name="twitter:title" content="{{ .Title }}" />
  <meta itemprop="name" content="{{ .Title }}">
  <meta property="article:published_time" content="{{ dateFormat " 2006-01-02T15:04:05Z07:00" .Date }}" />
  <meta property="article:modified_time" content="{{ dateFormat " 2006-01-02T15:04:05Z07:00" .Lastmod }}" />
  <meta property="og:updated_time" content="{{ dateFormat " 2006-01-02T15:04:05Z07:00" .Lastmod }}" />
  {{- with .Site.Title -}}
  <meta property="og:site_name" content="{{ . }}" />{{- end -}}
  {{- with .Params.locale -}}
  <meta property="og:locale" content="{{ . }}" />{{- end -}}
  {{- if .IsHome -}}
  {{ with .Site.Params.feed.itunes_summary -}}
  <meta property="og:description" content="{{ . }}" />
  <meta name="twitter:description" content="{{ . }}" />
  <meta itemprop="description" content="{{ . }}" />
  {{- else -}}
  <meta property="og:description" content="{{ $.Site.Title }}" />
  <meta name="twitter:description" content="{{ $.Site.Title }}" />
  <meta itemprop="description" content="{{ $.Site.Title }}" />
  {{- end -}}
  {{- end -}}
  {{ with .Site.Params.social.twitter }}
  <meta name="twitter:site" content="@{{ . }}" />{{ end }}
  {{ with .Site.Params.social.twitter }}
  <meta name="twitter:creator" content="@{{ . }}" />{{ end }}
  {{ with .Site.Params.social.twitter_domain }}
  <meta name="twitter:domain" content="{{ . }}" />{{ end }}
  {{ if eq .Type "episode" }}
  <meta property="og:type" content="article" />
  {{- else if .Params.type -}}
  <meta property="og:type" content="{{ .Params.type }}" />
  {{- else -}}
  <meta property="og:type" content="website" />
  {{ end }}
  <meta property="og:url" content="{{ .Permalink | relURL }}" />
  {{ with .Params.images }}{{ range first 1 . }}
  <meta name="twitter:card" content="summary_large_image" />
  {{ if (eq (slicestr . 0 4) "http") }}
  <meta property="og:image" content="{{ . }}" />
  <meta name="twitter:image" content="{{ . }}" />
  <meta itemprop="image" content="{{ . }}" />
  {{ else }}
  <meta property="og:image" content="{{ $.Site.BaseURL}}/{{ . }}" />
  <meta name="twitter:image" content="{{ $.Site.BaseURL}}/{{ . }}" />
  <meta itemprop="image" content="{{ $.Site.BaseURL}}/{{ . }}" />
  {{ end }}
  {{ end }}{{ end }}

  <title>
    {{- $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" -}}
    {{- if eq $url "/" -}}
    {{ .Site.Title }}
    {{- else -}}
    {{ if .Params.Heading }}{{ .Params.Heading }}{{ else }}{{ .Title }}{{ end }}
    {{- end -}}
  </title>

  <!-- Begin Sendinblue-->
  <style>
    @font-face {
      font-display: block;
      font-family: Roboto;
      src: url(https://assets.sendinblue.com/font/Roboto/Latin/normal/normal/7529907e9eaf8ebb5220c5f9850e3811.woff2) format("woff2"), url(https://assets.sendinblue.com/font/Roboto/Latin/normal/normal/25c678feafdc175a70922a116c9be3e7.woff) format("woff")
    }

    @font-face {
      font-display: fallback;
      font-family: Roboto;
      font-weight: 600;
      src: url(https://assets.sendinblue.com/font/Roboto/Latin/medium/normal/6e9caeeafb1f3491be3e32744bc30440.woff2) format("woff2"), url(https://assets.sendinblue.com/font/Roboto/Latin/medium/normal/71501f0d8d5aa95960f6475d5487d4c2.woff) format("woff")
    }

    @font-face {
      font-display: fallback;
      font-family: Roboto;
      font-weight: 700;
      src: url(https://assets.sendinblue.com/font/Roboto/Latin/bold/normal/3ef7cf158f310cf752d5ad08cd0e7e60.woff2) format("woff2"), url(https://assets.sendinblue.com/font/Roboto/Latin/bold/normal/ece3a1d82f18b60bcce0211725c476aa.woff) format("woff")
    }

    #sib-container input:-ms-input-placeholder {
      text-align: left;
      font-family: "Helvetica", sans-serif;
      color: #c0ccda;
    }

    #sib-container input::placeholder {
      text-align: left;
      font-family: "Helvetica", sans-serif;
      color: #c0ccda;
    }

    #sib-container textarea::placeholder {
      text-align: left;
      font-family: "Helvetica", sans-serif;
      color: #c0ccda;
    }
  </style>
  <link rel="stylesheet" href="https://sibforms.com/forms/end-form/build/sib-styles.css">
  <!-- End Sendinblue-->

  <!-- Our SASS stylesheets. -->
  {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  {{ $styleLocal := resources.Get "sass/local.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $styleLocal.RelPermalink }}">

  <link rel="canonical" href="{{ .Permalink }}">
  {{ if isset $.Site.Params "favicon"}}
  <link rel="icon" href="{{ $.Site.Params.favicon | absURL }}">
  {{ else }}
  <link rel="icon" href="/favicon.ico">
  {{ end }}
  {{ if (fileExists "static/apple-touch-icon.png") -}}
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  {{- end}}
  {{ if (fileExists "static/apple-touch-icon-precomposed.png") -}}
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-precomposed.png">
  {{- end}}
  {{ if (fileExists "static/favicon-16x16.png") -}}
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  {{- end}}
  {{ if (fileExists "static/favicon-32x32.png") -}}
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  {{- end}}
  {{ if (fileExists "static/favicon-96x96.png") -}}
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  {{- end}}
  {{ if (fileExists "static/apple-icon-57x57.png") -}}
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  {{- end}}
  {{ if (fileExists "static/apple-icon-60x60.png") -}}
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  {{- end}}
  {{ if (fileExists "static/apple-icon-72x72.png") -}}
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  {{- end}}
  {{ if (fileExists "static/apple-icon-76x76.png") -}}
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  {{- end}}
  {{ if (fileExists "static/apple-icon-114x114.png") -}}
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  {{- end}}
  {{ if (fileExists "static/apple-icon-120x120.png") -}}
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  {{- end}}
  {{ if (fileExists "static/apple-icon-144x144.png") -}}
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  {{- end}}
  {{ if (fileExists "static/apple-icon-152x152.png") -}}
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  {{- end}}
  {{ if (fileExists "static/apple-icon-180x180.png") -}}
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  {{- end}}
  {{ if (fileExists "static/android-icon-192x192.png") -}}
  <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
  {{- end}}
  {{ if (fileExists "static/ms-icon-70x70.png") -}}
  <link rel="icon" type="image/png" sizes="70x70" href="/ms-icon-70x70.png">
  {{- end}}
  {{ if (fileExists "static/ms-icon-144x144.png") -}}
  <link rel="icon" type="image/png" sizes="144x144" href="/ms-icon-144x144.png">
  {{- end}}
  {{ if (fileExists "static/ms-icon-150x150.png") -}}
  <link rel="icon" type="image/png" sizes="150x150" href="/ms-icon-150x150.png">
  {{- end}}
  {{ if (fileExists "static/ms-icon-310x310.png") -}}
  <link rel="icon" type="image/png" sizes="310x310" href="/ms-icon-310x310.png">
  {{- end}}

  {{ if (fileExists "static/manifest.json") -}}
  <link rel="manifest" href="/manifest.json">
  {{- end}}
  {{ if (fileExists "static/site.webmanifest") -}}
  <link rel="manifest" href="/site.webmanifest">
  {{- end}}
