      <section id="header">
        <div class="container">
          <h1 id="logo"><a href="/">B&uuml;chergefahr</a></h1>
          <p>Im Ruhestand: der <a href="https://lektomat.de/">Lektomat</a>, die <a href="/hoerbuecher/">Hörbücher</a>, ein <a href="/podcast/">Podcast</a>.</p>
          <nav id="nav">
            <ul>
            {{ range .Site.Menus.nav }}
              <li><a class="{{ .Pre }}" href="{{ .URL }}" title="{{ .Name }}"><span>{{ .Name }}</span></a></li>
            {{- end -}}
            </ul>
          </nav>
        </div>
      </section>
