  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.dropotron.min.js"></script>
  <script src="/js/browser.min.js"></script>
  <script src="/js/breakpoints.min.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/main.js"></script>
