{{ define "main" }}
<section id="features">
  <div class="container">
    <!-- This renders whatever is in hoerbuecher/_index.md -->
    <header>
      {{ .Content }}
    </header>
    <div class="row aln-center">
      {{ range $idx, $audiobook := .Pages }}
        <div class="col-4 col-6-medium col-12-small">
          <section>
            <a class="image featured icon solid" href="{{ $audiobook.Permalink }}"><img src="{{ $audiobook.Params.cover }}" alt="{{ $audiobook.Params.title }}" /></a>
            <header>
              <h3><a href="{{ $audiobook.Permalink }}">{{ $audiobook.Params.title }}</a></h3>
            </header>
          </section>
        </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
