{{ define "main" }}
<section id="main">
  <div class="container">
    <div class="row">
    <div id="sidebar" class="col-4 col-12-medium">
  <section>
    <ul class="divided">
      {{ if .Params.cover }}
        <li>
          <article class="box excerpt">
            <img src="{{ .Params.cover }}" alt="Cover von {{ .Params.title }}">
          </article>
        </li>
      {{ end }}
      {{ if .Params.shop }}
      <li>
        <article>
          <header>
            <h3>Kaufen</h3>
          </header>
          <ul class="icons">
            {{ if .Params.shop.amazon }}
              <li class="solid fab fa-amazon"><a href="{{ .Params.shop.amazon }}">Amazon</a></li>
            {{ end }}
            {{ if .Params.shop.audible }}
              <li class="solid fab fa-audible"><a href="{{ .Params.shop.audible }}">Audible</a></li>
            {{ end }}
            {{ if .Params.shop.apple }}
              <li class="icon solid icon fa-apple-alt"><a href="{{ .Params.shop.apple }}">Apple Books</a></li>
            {{ end }}
            {{ if .Params.shop.bookbeat }}
              <li class="icon solid fa-music"><a href="{{ .Params.shop.bookbeat }}">BookBeat</a></li>
            {{ end }}
            {{ if .Params.shop.everand }}
              <li class="icon solid fa-music"><a href="{{ .Params.shop.everand }}">Everand</a></li>
            {{ end }}
            {{ if .Params.shop.google }}
              <li class="icon solid fa-music"><a href="{{ .Params.shop.google }}">Google Play</a></li>
            {{ end }}
            {{ if .Params.shop.spotify }}
              <li class="icon solid fa-music"><a href="{{ .Params.shop.spotify }}">Spotify</a></li>
            {{ end }}
            {{ if .Params.shop.storytel }}
              <li class="icon solid fa-music"><a href="{{ .Params.shop.storytel }}">Storytel</a></li>
            {{ end }}
          </ul>
        </article>
      </li>
      {{ end }}
    </ul>
  </section>
</div>
<div id="content" class="col-8 col-12-medium imp-medium">
  <article class="box post">
    <header>
      <h1>{{ .Params.title }}</h1>
    </header>
    {{ .Content }}
    {{ if .Params.audiosample }}
      <h2 id="audiosample">Hörprobe</h2>
      <script>
        window.playerConfiguration = {"options":
          {"theme":"default"},
          "extensions":{
            "EpisodeInfo":{},"Playlist":{}},
          "title":null,
          "episode":{
            "media":{"mp3":"{{ .Params.audiosample.mp3 }}"},
            "coverUrl":"{{ .Params.audiosample.coverUrl }}",
            "title":"{{ .Params.title }}",
            "subtitle":"{{ .Params.subtitle }}",
            "url":"{{ .Permalink }}",
            "description":"Hörprobe zu {{ .Title }}"
          }
        }
      </script>
      <script type="application/javascript"
        class="podigee-podcast-player"
        data-configuration="playerConfiguration"
        src="/podigee-podcast-player/javascripts/podigee-podcast-player.js">
      </script>
    {{ end }}
  </div>
</section>
{{ end }}
